:root{
    --color1: #25c3d8;/*caribbean blue*/
    --color2: #343434;
    --color3: #c4d2e0;
}

body{
    background-color: var(--color2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    text-align: center;
    color: var(--color1);
}

.titulo-seccion{
    color: var(--color1);
}

.seccion{
    color: var(--color1);
    margin-left: 10px;
}

.tipo-de-dato{
    font-weight: 600;
    margin-top: 10px;
    color: var(--color2);
    background-color: var(--color1);
    padding: 5px;
    border-radius: 1%;
}

.fondo-cambiante{
    transition-duration: 0.5s;
    transition-property: background-color;
}

.fondo-cambiante:hover{
    background-color: var(--color3);
}