:root{
    --color1: #005488;/*caribbean blue*/
    --color2: #fdfdec;
    --color3: #00aeff;
}

body{
    background-color: var(--color2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    text-align: center;
    color: var(--color1);
}

.titulo-seccion{
    color: var(--color1);
}

.seccion{
    color: var(--color1);
    margin-left: 10px;
}

.tipo-de-dato{
    font-weight: 600;
    margin-top: 10px;
    color: var(--color2);
    background-color: var(--color1);
    padding: 5px;
    border-radius: 1%;
    background: linear-gradient(to right,var(--color1),var(--color3));
}

