body{
    background-color: #1e1e1e;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor{
    background-color: #1e1e1e;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

.juego{
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.juego:hover{
    opacity: 0.85;
}

.t-o{
    color: #050505;
}

.nombre-juego{
    margin-left: 5px;
}

.plataforma{
    margin-left: auto;
    border-left-width: 2px;
    border-left-style: solid;
    padding-left: 5px;
}

#j1{
    background-color: #db4019;
    /*border-top-right-radius: 5%;*/
}

#j2{
    background-color: #ffc7bf;
}

#j3{
    background-color: #bbb869;
}

#j4{
    background-color: #af11bc;
}

#j5{
    background-color: #96c1e6;
}

#j6{
    background-color: #b8b874;
}

#j7{
    background-color: #431bfd;
}

#j8{
    background-color: #928313;
}

#j9{
    background-color: #467fc2;
}

#j10{
    background-color: #2f8768;
}

#j11{
    background-color: #00d5ff;
}

#j12{
    background-color: #e2003f;
}

#j13{
    background-color: #5daeaa;
}

#j14{
    background-color: #4f9f76;
}

#j15{
    background-color: #bc6f5a;
}

#j16{
    background-color: #9c268f;
}

#j17{
    background-color: #9067fa;
}

#j18{
    background-color: #556ba7;
}

#j19{
    background-color: #ff2f3e;
}

#j20{
    background-color: #ef3cbe;
}

#j21{
    background-color: #1a7522;
}

#j22{
    background-color: #da9bb4;
}

#j23{
    background-color: #785c39;
}

#j24{
    background-color: #d354ae;
}

#j25{
    background-color: #b94b20;
}

#j26{
    background-color: #92b500;
}

#j27{
    background-color: #6fe3bd;
}

#j28{
    background-color: #975cc2;
}

#j29{
    background-color: #fbe54b;
}

#j30{
    background-color: #2b3adc;
}

#j31{
    background-color: #2e6c92;
}

#j32{
    background-color: #29a185;
}

#j33{
    background-color: #0532a7;
}

#j34{
    background-color: #ae4a32;
}

#j35{
    background-color: #b771a3;
}