#contenedor-principal{
    width: 100%;
    height: 2500px;
    background-color: #58efb1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 40px;
}

#sub-contenedor{
    width: 800px;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eceac5;
}

header{
    font-size: 50px;
    padding-left: 20px;
}

section{
    margin-top: 120px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: end;
    font-family: 'Courier New', Courier, monospace;
    border-bottom-style: solid;
}

#sobre-mi p{
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

#mi-foto{
    width: 23%;
    height: 23%;
    float: right;
    margin-left: 10px;
}

#contenedor-proyectos{
    width: 100%;
}

.proyecto{
    height: 170px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    background-color: #e80ea7;
    padding: 5px;
}

.subcontenedor-habilidades{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.habilidad-icono{
    filter: sepia(100%);
    transition-property: filter;
    transition-duration: 0.5s;
}

.habilidad-icono:hover{
    filter: sepia(0%);
}

.habilidad-principal{
    height: 120px;
    width: 120px;
}

.java-icono{
    height: 100%;
    width: 100%;
}

.spring-boot-icono{
    height: 100%;
    width: 100%;
}

.spring-security-icono{
    height: 100%;
    width: 100%;
}

.spring-security-color{
    background-color: #58efb1;
}

.sql-icono{
    height: 100%;
    width: 100%;
}

.habilidad-secundaria{
    height: 80px;
    width: 80px;
}

.docker-icono{
    height: 100%;
    width: 100%;
}

.git-icono{
    height: 100%;
    width: 100%;
}

.mongodb-icono{
    height: 100%;
    width: 100%;
}

.html-icono{
    height: 100%;
    width: 100%;
}

.css-icono{
    height: 100%;
    width: 100%;
}

.javascript-icono{
    height: 100%;
    width: 100%;
}