

#superContenedor{
	display: flex;
	margin-left: 30px;
	margin-top: 100px;
}


.contenedor{
	height: 40px;
	background-color: rgb(79, 104, 221);
	width: 40px;
	justify-content: space-around;
	margin-left: 20px;
}

.rojo{
	background-color: rgb(255, 56, 43);
	width: 40px;
	justify-content: space-around;
	margin-left: 20px;
	height: 40px;
}

.amarillo{
	display: flex;
	margin-left: 30px;
	margin-top: 150px;
	background-color: rgb(234, 232, 45);
}