:root{
    --color1: #2c8bdf;
    --color2: #f9f7f7;
    --color3: #9554c0;
    --color4: #10a3f2;
}

body{
    background-color: var(--color2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    text-align: center;
    color: var(--color1);
}

.titulo-seccion{
    color: var(--color1);
}

.seccion{
    color: var(--color1);
    margin-left: 10px;
}

.contenedor-query{
    background-color: var(--color1);
    padding: 5px;
    font-weight: 900;
    color: var(--color2);
    border-radius: 1%;
    margin-bottom: 5px;
}

.descripcion-query{
    font-weight: 600;
}

.tipo-de-dato{
    font-weight: 600;
    margin-top: 10px;
    color: var(--color2);
    background-color: var(--color1);
    padding: 5px;
    border-radius: 1%;
}