.caja{
    background-color: #6f4fa9;
    height: 200px;
    width: 200px;
}

.cupids_eye{
    background-color: #fa25d5;
}

.borde{
    border: 10px solid #485107;
}

form{
    height: 200px;
    width: 200px;
    padding: 10px;
    margin-top: 100px;
}

.boton-formulario{
    background-color: #bafe52;
    height: 50px;
    width: 100px;
    margin-top: 50px;
}