:root{
    --color1: #4175b9; 
    --color2: #f6fdec;
    --color3: #130bbd;
}

body{
    background-color: var(--color2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    text-align: center;
    color: var(--color1);
}

.titulo-seccion{
    color: var(--color1);
}

.seccion{
    color: var(--color1);
    margin-left: 10px;
}

.contenedor-comando{
    background-color: var(--color1);
    padding: 5px;
    font-weight: 900;
    color: var(--color2);
    border-radius: 1%;
    margin-bottom: 5px;
    background: linear-gradient(to right,var(--color1),var(--color3));
}

.descripcion-comando{
    font-weight: 600;
}

