:root{
    --color1: #f4e3f4; 
    --color2: #343434;
}

body{
    background-color: var(--color2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    text-align: center;
    color: var(--color1);
}

.titulo-seccion{
    color: var(--color1);
}

.seccion{
    color: var(--color1);
    margin-left: 10px;
}

.contenedor-comando{
    background-color: var(--color1);
    padding: 5px;
    font-weight: 900;
    color: var(--color2);
    border-radius: 1%;
    margin-bottom: 5px;
}

.descripcion-comando{
    font-weight: 600;
}