:root{
    --color1: #154edc; /*homeworld*/
    --color2: #fdf2ec;
    --color3: #3c84b1;
}

body{
    background-color: var(--color2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    text-align: center;
    color: var(--color1);
}

.titulo-seccion{
    color: var(--color1);
}

.seccion{
    color: var(--color1);
    margin-left: 10px;
}

.contenedor-anotacion{
    padding: 5px;
    font-weight: 900;
    color: var(--color2);
    border-radius: 1%;
    margin-bottom: 5px;
    background: linear-gradient(to right,var(--color1),var(--color3));
}

.descripcion-anotacion{
    font-weight: 600;
}
