:root{
    --color1: #00b0af;
    --color2: #8bd843;
    --color3: #f3f4ec;
    --color4: #ffffff; /*Blanco*/
    --color5: #303030;
    --color6: #252525;
    --color7: #1d7afd;
    --color8: #645ccc;
}

body{
    background-color: var(--color5);
}

.contenedor{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color1);
    border-top-color: var(--color2);
    border-left-color: var(--color2);
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    /*background: linear-gradient(to bottom,var(--color2),var(--color1));*/
}

h2{
    text-align: center;
    color: var(--color2);
}

.formulario{
    margin-top: 20px;
    width: 100%;
}

#formularioObra{
    /*border-bottom-style: solid;*/
    border-top-style: solid;
    /*border-bottom-color: var(--color1);*/
    border-top-color: var(--color2);
    border-width: 1px;
}

#formularioVolver{
    margin-top: 70px;
}

input{
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
    background-color: var(--color6);
    color: var(--color4);
    border: none;
    border-bottom-style: solid;
    border-bottom-color: var(--color1);
    border-bottom-width: 1px;
    color: var(--color2);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

select{
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
    background-color: var(--color6);
    color: var(--color4);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color1);
    border-radius: 2%;
    color: var(--color2);
    border-top-color: var(--color2);
    border-left-color: var(--color2);
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

button{
    border: none;
    background: linear-gradient(to bottom, var(--color2),var(--color1));
    border-radius: 5%;
    width: 20%;
    height: 40px;
    color: var(--color5);
    font-weight: bold;
    margin-left: 40%;
    transition-property: color, background-color;
    transition-duration: 0.6s;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

button:hover{
    background: linear-gradient(to bottom,var(--color2),var(--color2));
}

#botonEnviar{
    margin-top: 10px;
}

#botonVolver{
    margin-bottom: 20px;
    width: 60%;
    margin-left: 20%;
    background: linear-gradient(to bottom,var(--color7),var(--color8));
    color: var(--color4);
    height: 60px;
    font-size: large;
    border-radius: 2%;
}

#botonVolver:hover{
    background: linear-gradient(to bottom,var(--color7),var(--color7));
}